<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Post</title>
</head>
<body>
	<div class="warpper" style="width: 700px; margin: auto">
		<h1>Add Post</h1>
		<form method="post">
			{{ form.csrf_token }}
			{{ form.title.label }}<br>
			{{ form.title }}<br><br>
			{{ form.content.label }}<br>
			{{ form.content}}
			<br>
			{{ form.submit }}
		</form>
	</div>
    {{ ckeditor.load() }}
	{{ ckeditor.config(name='content') }}

</body>
</html>