<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim | Yasin Acıerik</title>

    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet"> 

</head>

<style>
  body{

    background-color: lightgoldenrodyellow;
    font-family: 'VT323', monospace;
    font-size: 48px;

  }

  .title{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -100px;
    text-align: center;
  }
  .title a {
    text-decoration: none;
  }
  .twitter{
    color: #1d9dee;
  }

  .linkedin {
    color: #0073b0;
  }
  .github{
    color : black;
  }

</style>

<body>
  <div class="title">

    <a href="{{url_for('index')}}"><-- Anasayfa</a>

    <p><a class="twitter" href="https://twitter.com/koka_koala" target="blank">Twitter</a></p>
    <p><a class="github" href="https://github.com/ysnacrk" target="blank">Github</a></p>    
    <p><a class="linkedin" href="https://tr.linkedin.com/in/yasin-ac%C4%B1erik-764b67172" target="blank">Linkedin</a></p>
    <p style="color: #bc3c29;">ysnacrk@gmail.com</p>
<br>
<br>
  </div>
</body>
</html>