<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    

    <link rel="stylesheet" href="{{ url_for('static' , filename = 'login.css' )}}">
    
</head>
<body>

    <div class="login">
            <form method="POST" action="">
                {{ form.csrf_token }}
                {{form.username}}
                {{form.password}}
                {{form.recaptcha}}
                {{form.submit}}
            </form>
    </div>
    <div class="shadow"></div>
    


</div>
</body>
</html>