<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

    <div class="warpper" style="width: 700px; margin: auto ; margin-top:50px; text-decoration: underline; text-align : center; border : 1px solid;">
        <form method = "POST" action="">
            {{ form.csrf_token }}
            {{form.username.label}} 
            <br>
            {{form.username}}
            
            <br>
            
            {{form.password.label}} 
            <br>
            {{form.password}} 
    
            <br>
            {{form.submit}} 
            
        </form>
    
    </div>
</body>
</html>