<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'post.css' )}}">


    <title>{{post.title}}</title>
    {{ ckeditor.load_code_theme() }}


</head>
<body>
    <div class="container mobile-container" >
        <nav class="navbar d-flex justify-content-between nav-bar ">

              {% if prev %}
              <a class="navbar-brand navbar-link" href="/post/{{prev.id}}/{{prev.slug}}">< prev</a>
          {% else %}
              <a class="navbar-brand navbar-link" href="#">< prev</a>
          {% endif %}
          <a class="navbar-brand navbar-link" href="{{url_for('index')}}">💻 home</a>
  
          {% if next %}
              <a class="navbar-brand navbar-link" href="/post/{{next.id}}/{{next.slug}}">next ></a>
          {% else %}
              <a class="navbar-brand navbar-link navbar-right" href="#">next ></a>
          {% endif %}
              {% if current_user.is_authenticated%}
              <a class="navbar-brand navbar-link" href="/delete/{{post.id}}">Delete</a>
              <a class="navbar-brand navbar-link" href="/update_post/{{post.id}}">Update</a>

              {% endif%}
        </nav>


        <div class="row header">
            <h1>
                {{post.title}}
            </h1>

            <p>
                {{post.content|safe}}
            </p>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1" >© Copyright 2020 Yasin Acıerik</p>

            <ul class="list-inline" >
                <li class="list-inline-item"><a href="#">Twitter</a></li>
                <li class="list-inline-item"><a href="#">Github</a></li>
            </ul>

        </footer>


        

    </div>


    <button onclick="topFunction()" id="myBtn" title="Go to top">
        top
    </button>


    <script>

        
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
        </script>

</body>
</html>

